{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}
<!-- Header -->
<h1 id="mucq_welcome" class="mucq_welcome" lang="zh-Hant">Welcome to MucQ!</h1>
<br />
<p id="mucq_welcome_message" class="mucq_welcome_message" lang="zh-Hant">
  Welcome to MucQ! See what's new!
</p>
<br />
{% if current_user.is_authenticated %}
<!-- Header -->

{% else %}

<!-- Login Required -->
<p id="loginReminder" style="color: #7383a6; text-align: center">
  You will have to log in to join the conversation!
</p>
<!-- Login Required -->

{% endif %}
<!-- All Posts -->
<div class="chat">
  {% for post in posts.items %}
    <div class="post">
      <div class="post-main">
        <p class="post-text">{{ post.content }}</p>
        <a class="profile-pic-post" href="#"
          ><img
            class="profile-pic-post"
            src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}"
            align="left"
            style="margin-right: 20px"
        /></a>
        <a
          style="
            text-decoration: none;
            color: white;
            text-shadow: 2px 2px #555555;
          "
          ><small>{{ post.author.username }} </small></a
        ><small class="post-text"
          >{{ post.date_posted.strftime('(Posted at %Y-%m-%d)') }}</small
        >
        {% include '/posts/post_tools.html' %}
      </div>
    </div>
  {% endfor %}
  <!-- Pagination -->
{% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1,
  right_current=1) %} {% if page_num %} {% if posts.page == page_num %}
  <a class="btn-3" href='{{ url_for("main.index", page=page_num) }}'
    >{{page_num}}</a
  >
  {% else %}
  <a class="btn-3" href='{{ url_for("main.index", page=page_num) }}'
    >{{page_num}}</a
  >
  {% endif %} {% else %} ... {% endif %} {% endfor %}
  <!-- Pagination -->
</div>
<!-- All Posts -->

<!-- Create Posts -->
{% include '/posts/main_create_post.html' %}
<!-- Create Posts -->

<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
{% block title %}Feed{% endblock %}