{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %} 
{%
for post in posts %}
<div class="post">
  <div class="post-main">
    <p class="post-text">
      <a class="post-username" alink="white" vlink="white" href="#"
        >{{ post.author.username }}</a
      >: {{ post.content }}
    </p>
    <a class="profile-pic-post" href="#"
      ><img
        class="profile-pic-post"
        src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}"
        align="left"
        style="margin-right: 20px"
    /></a>
    <small>{{ post.date_posted.strftime('(Posted at %Y-%m-%d)') }}</small>
    {% include '/posts/post_tools.html' %}
  </div>
</div>
{% endfor %}
<!-- make pagination here -->
{% endblock %}