<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="container">
      <div class="navbar" id="navbar">
        <div class="logo-wrapped">
          <img class="logo" src="{{ url_for('static', filename='mucq-logo.png') }}"/>
          <a class="logo-text" href="{{ url_for('main.index') }}">MucQ</a>
        </div>
        
      
        <nav>
          <ul>
            {% if current_user.is_authenticated %}
        <li><a class="navbar-text" href="{{ url_for('users.profile') }}"><img class="profile-navbar" src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}"></a></li>
          <li><a class="navbar-text" href="{{ url_for('users.logout') }}" alink="black" vlink="black">Logout</a></li>
        {% else %}
        <li><a class="navbar-text" href="{{ url_for('users.login') }}" alink="black" vlink="black">Login</a></li>
          <li><a class="navbar-text" href="{{ url_for('users.signup') }}" alink="black" vlink="black">Sign Up</a></li>
        {% endif %}
          </ul>
        </nav>
        <img src="{{ url_for('static', filename='menu.jpg') }}" class="nav-button" onclick="togglemenu()">
      </div>
    </div>
    <div class="menu" >
      <nav class="menubar" >
        <ul id="menu">
          <li><a class="#" href="{{ url_for('main.index') }}" alink="black" vlink="black">Home</a></li>
          <li><a class="#" href="{{ url_for('main.about') }}" alink="black" vlink="black">About</a></li>
          <li><a class="#" href="{{ url_for('main.helpcenter') }}" alink="black" vlink="black">Support</a></li>
        </ul>
      </nav>
    </div>
    <br />
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div class="alert-{{ category }}">{{ message }}</div>
    <br />
    {% endfor %} {% endif %} {% endwith %}
    
    <div class="content">{% block body %}{% endblock %}</div>
    <script>
      var menuList = document.getElementById('menu');

      menuList.style.maxHeight = "0px";

      function togglemenu() {
        if (menuList.style.maxHeight == "0px") {
          menuList.style.maxHeight = "130px";
        }
        else {
          menuList.style.maxHeight = "0px";
        }
      }
    </script>
  </body>
</html>
