<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    {% block head %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div class="container">
      <a
        id="eng-button"
        language="english"
        class="eng_button"
        href="#eng"
        data-reload
        >English</a
      >
      <a
        id="chi-button"
        language="t_chinese"
        class="chi_button"
        href="#chi"
        data-reload
        >繁體中文</a
      >
      <div class="navbar" id="navbar">
        {% include 'navbar.html' %}
        <img
          src="{{ url_for('static', filename='menu.jpg') }}"
          class="nav-button"
          onclick="togglemenu()"
        />
      </div>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div class="alert-{{ category }}">{{ message }}</div>
    {% endfor %} {% endif %} {% endwith %}

    <div class="search-bar">
      <form method="POST" action="{{ url_for('main.search') }}">
        <input class="search-bar-field type="text" placeholder="Search for an
        item..." name="searched">
        <button class="btn" type="submit">Search</button>
      </form>
    </div>

    <div class="content">
      {% block body %}{% endblock %}
      <br />
      <div class="footer">
        <h3>Copyright &copy; MucQ Cooperation</h3>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
