{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}
<h1 class="title" style="color: #3498db">Home</h1>
<h1>Welcome to MucQ!</h1>

<br>
<p>
  Welcome to MucQ! See what's new!
</p>
<br>
<div id="create_post">
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <h1 style="color: #3498DB">{{ legend }}</h1>
        <div class="form-group">
            {{ form.title.label(class="form-control-label") }}
            <br>
            {% if form.title.errors %}
            {{ form.title(class="form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for errors in form.title.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.title(class="form-control form-control-lg") }}
        {% endif %}
        </div>
        <div class="form-group">
            {{ form.content.label(class="form-control-label") }}
            <br>
            {% if form.content.errors %}
            {{ form.content(class="form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for errors in form.content.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.content(class="form-control") }}
        {% endif %}
        </div>
    </div>
    <br>
    <div class="form-group">
        {{ form.submit(class="btn") }}
    </div>
    <br>
</form>
</div>
<br />
<br />
{% for post in posts %}
<div class="post">
  <div class="post-main">
    <h2 class="post-text">
      <a
        href="{{ url_for('posts.post', post_id=post.id) }}"
        style="
          text-decoration: none;
          color: white;
          text-shadow: 4px 4px #555555;
        "
        alink="white"
        vlink="white"
        >Title: </a>{{ post.title }}</a
      >
    </h2>
    <br>
    <p class="post-text">{{ post.content }}</p>
    <br>
    <img
      class="profile-pic-post"
      src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}"
      align="left"
      style="margin-right: 20px"
    />
    <a style="text-decoration: none; color: white; text-shadow: 2px 2px #555555"
      ><small>{{ post.author.username }} </small></a
    ><small class="post-text"
      >{{ post.date_posted.strftime('(Posted at %Y-%m-%d)') }}</small
    >
  </div>
</div>
{% endfor %}
<h2 style="text-align: center; color: #7383a6">You're all caught up!</h2>
{% endblock %}
