<div class="top-bar" id="topbar">
  <div class="navbar" id="navbar">
    <button class="nav-button-2" onclick="togglesidebar()">
      <div>
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
    </button>
    <div class="search-bar">
      <form method="POST" action="{{ url_for('main.search') }}">
        <button class="s-btn" type="submit">
          <img
            class="logo"
            src="{{ url_for('static', filename='mucq-logo.png') }}"
          />
        </button>
        <input
          class="search-bar-field"
          type="text"
          placeholder="Search for an item..."
          name="searched"
        />
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      </form>
    </div>
    <nav>
      <div class="nav-1">
        <nav class="navbar-1" id="nav">
          {% if current_user.is_authenticated %}
          <a class="navbar-text" href="{{ url_for('users.profile') }}"
            >My Account</a
          >
          <a
            class="navbar-text"
            href="{{ url_for('users.logout') }}"
            alink="white"
            vlink="white"
            id="logout"
            >Logout</a
          >
          {% else %}
          <a
            class="navbar-text"
            href="{{ url_for('users.login') }}"
            alink="white"
            vlink="white"
            id="login"
            >Login</a
          >
          <a
            class="navbar-text"
            href="{{ url_for('users.signup') }}"
            alink="white"
            vlink="white"
            id="sign_up"
            >Sign Up</a
          >
          {% endif %}
        </nav>
      </div>
    </nav>
  </div>
</div>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
