<nav class="navbar">
  <ul>
    <li>
      <a
        class="#"
        id="menuhome"
        href="{{ url_for('main.index') }}"
        alink="black"
        vlink="black"
        >Feed</a
      >
    </li>
    <li>
      <a
        class="#"
        id="menuhome"
        href="{{ url_for('products.product') }}"
        alink="black"
        vlink="black"
        >Products</a
      >
    </li>
    <li>
      <a
        class="#"
        id="menuabout"
        href="{{ url_for('main.about') }}"
        alink="black"
        vlink="black"
        >About</a
      >
    </li>
    <li>
      <a
        class="#"
        id="menusupport"
        href="{{ url_for('main.helpcenter') }}"
        alink="black"
        vlink="black"
        >Support</a
      >
    </li>
    <li>
      <a href="{{ url_for('main.feedback') }}">Feedback</a>
    </li>
    {% if current_user.is_authenticated %}
    <li>
      <a class="navbar-text" href="{{ url_for('users.profile') }}"
        ><img
          class="profile-navbar"
          src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}"
      /></a>
    </li>
    <li>
      <a
        class="navbar-text"
        href="{{ url_for('users.logout') }}"
        alink="black"
        vlink="black"
        id="logout"
        >Logout</a
      >
    </li>
    {% else %}
    <li>
      <a
        class="navbar-text"
        href="{{ url_for('users.login') }}"
        alink="black"
        vlink="black"
        id="login"
        >Login</a
      >
    </li>
    <li>
      <a
        class="navbar-text"
        href="{{ url_for('users.signup') }}"
        alink="black"
        vlink="black"
        id="sign_up"
        >Sign Up</a
      >
    </li>

    {% endif %}
  </ul>
</nav>
