<div class="top-bar">
  <div class="navbar" id="navbar">
    <div class="logo-wrapped">
      <a href="{{ url_for('main.index') }}"
        ><img
          class="logo"
          src="{{ url_for('static', filename='mucq-logo.png') }}"
      /></a>
    </div>
    <nav>
      <div class="menu">
        <nav class="menubar" id="menu">
              <a
                class="navbar-text"
                id="menuhome"
                href="{{ url_for('main.index') }}"
                alink="black"
                vlink="black"
                >Feed</a
              >
              <a
                class="navbar-text"
                id="menuhome"
                href="{{ url_for('products.product') }}"
                alink="black"
                vlink="black"
                >Products</a
              >
              <a
                class="navbar-text"
                id="menuabout"
                href="{{ url_for('main.about') }}"
                alink="black"
                vlink="black"
                >About</a
              >
              <a
                class="navbar-text"
                id="menusupport"
                href="{{ url_for('main.helpcenter') }}"
                alink="black"
                vlink="black"
                >Support</a
              >
              <a href="{{ url_for('main.feedback') }}">Feedback</a>
      {% if current_user.is_authenticated %}
      <a class="navbar-text" href="{{ url_for('users.profile') }}"
        >My Account</a>
      <a
        class="navbar-text"
        href="{{ url_for('users.logout') }}"
        alink="white"
        vlink="white"
        id="logout"
        >Logout</a
      >
      {% else %}
      <a
        class="navbar-text"
        href="{{ url_for('users.login') }}"
        alink="white"
        vlink="white"
        id="login"
        >Login</a
      >
      <a
        class="navbar-text"
        href="{{ url_for('users.signup') }}"
        alink="white"
        vlink="white"
        id="sign_up"
        >Sign Up</a
      >
      {% endif %}
        <img
          src="{{ url_for('static', filename='menu.jpg') }}"
          class="nav-button"
          onclick="togglemenu()"/>

        </nav>
      </div>
    </nav>
  </div>
</div>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

