body {
    margin: 9;
    background-color: aquamarine;
    font-family: sans-serif;
}

.bar {
    float: top;
    text-align: center;
}

.content {
     background-color: white;
     border-width: black;
     float: top;
     padding: 10px;
}

.title {
    text-align: center;
}