body {
    margin: 9;
    background-color: aquamarine;
    font-family: sans-serif;
}

.bar {
    position: relative;
    display: flex;
    float: top;
    margin-right: 10px;
}

.content {
     background-color: white;
     border-color: black;
     border-width: 10px;
     position: relative;
     display: flex;
     float: top;
     padding: 10px;
}