body {
    margin: 9;
    background-color: aquamarine;
}

.bar {
    position: relative;
    display: flex;
    float: top;
}

.content {
     background-color: white;
     border-color: black;
     border-width: 10px;
     position: relative;
     display: flex;
     float: top;
}