{% extends 'base.html' %} {% block head %} {% endblock %} {% block search %}
<form method="POST" action="{{ url_for('products.search_product') }}">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  <div class="search-bar">
    <input
      class="search-bar"
      type="text"
      placeholder="Search for an item..."
      name="searched"
    />
    <button class="search-submit-button" type="submit">
      <img
        src="{{ url_for('static', filename='mucq-logo.png') }}"
        class="logo"
        alt=""
      />
    </button>
  </div>
</form>
{% endblock %} {% block body %}
<div class="products products-view">
  <div class="products-item products-view-item">
    <h1>{{product.product_name}}</h1>
    <img src="{{ url_for('static', filename='product_image/' + product.image_file) }}" class="product-image product-view-image">
    <p class="product-description product-view-description">{{product.description}}</p>
    <h1>${{product.product_price}}</h1>
    <div class="#">
      {{ product.likes|length }}
      {% if current_user.id in product.likes|map(attribute="author")|list %}
      <a href="{{ url_for('products.like', product_id=product.id) }}"><i class="fa-solid fa-thumbs-up"></i></a>
      {% else %}
      <a href="{{ url_for('products.like', product_id=product.id) }}"><i class="fa-regular fa-thumbs-up"></i></a>
      {% endif %}
      {% if product.author == current_user %}
      <div>
        <button class="btn-2-dl">
          <form
            action="{{ url_for('products.delete_product', product_id=product.id) }}"
            method="POST"
          >
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input class="btn btn-danger" type="submit" value="Delete" />
          </form>
        </button>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
