@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Podkova&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');

:root {
    /* colour palette variables, use these as examples for your css styles */
    /* will want to migrate existing styles to this palette as soon as possible */
    --objectYellow: #F2D03B;
    --objectGreen: #47D9BF;
    --objectBlue: #003056;
    --backgroundBlue: #04518C;
    --highlightBlue: #00A1D9;
    --textWhite: #FFFFFF;
    --warningRed: #C90009;
}

body {
    margin: 0;
    background-color: #1B212F; /* rgba(60,75,106,255) */
    font-family: 'Podkova', serif;
    position: relative;
}

.bar {
    font-family: 'Shippori Antique', sans-serif;
    float: left;
    text-align: left;
    color: white;
    text-decoration: none;
    padding: 15px;
    border-radius: 15px;
    font-size: 22px;
}

.bar:hover {
    color:white;
}

.wrapper-2 {
    display: flex;
    padding: 0px;
}

.wrapper-1 {
    justify-content: space-between;
}

.content {
    background-color: #273044;
    text-align: left;
    color: white;
    width: 100%;
    padding: 40px;
    font-size: 20px;
    margin-left: 20px;
    border-radius: 15px;
}

.form-group {
    text-align: left;
}

.form-control {
    padding: 10px;
}

.form-control-label {
    text-align: right;
}

.top-bar {
    display: flex;
    width: 100%;
    float: top;
    background-color: #273044;
}

.top-bar-text {
    font-family: 'Shippori Antique', sans-serif;
    text-decoration: none;
    color: white;
    text-align: right;
    margin-top: 40px;
    margin-bottom: 15px;
    margin-right: 50px;
    margin-left: 50px;
    font-size: 25px;
}

.top-bar-text:hover {
    color: white;
}

.name {
    color: white;
    text-align: left;
    justify-content: space-between;
    margin-top: 40px;
}

.alert-success {
    padding: 20px;
    background-color: #66D622;
    font-size: 20px;
    border-radius: 15px;
    font-family: 'Source Code Pro', monospace;
}

.alert-danger {
    padding: 20px;
    background-color: crimson;
    font-size: 20px;
    border-radius: 15px;
    font-family: 'Source Code Pro', monospace;
}

.profile-pic {
    width: 150px;
    height: 150px;
    position:relative;
    overflow:hidden;
    border-radius: 100%;
}

.profile-pic-post {
    width: 50px;
    height: 50px;
    position:relative;
    overflow:hidden;
    border-radius: 100%;
}

.profile-div {
    padding: 50px;
    border-radius: 15px;
    background-color: #404D6C;
}

.profile-text {
    color: white;
}

.post {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 15px;
    background-color: #404D6C;
}

.post-main {
    padding: 25px;
    
}

.post-text {
    color: white;
}

.profile-pic-error {
    text-align: left;
    color: crimson;
}

.btn {
    border-width: 0px;
    border-radius: 20px;
    padding: 10px;
    font-family: 'Podkova', serif;
    font-size: 20px;
    background-color: #7383A6;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.btn-2 {
    border-width: 0px;
    background-color: #404D6C;
}

.line-1 {
    border-color: black;
}

.logo {
    width: 80px;
    height: 80px;
}