@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap");

body {
    margin: 0px;
    overflow: auto;
    overflow-x: hidden !important;
    background-color: #162135;
    font-family: "DM Sans", sans-serif;
}
    /* Top Bar */

.top-bar {
    align-items: center;
    transition: 0.15s ease-in-out;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    background-color: #2c4269;
    padding: 15px;
}

.top-bar a:link {
    color: white;
}

.top-bar a:active {
    color: white;
}

.top-bar a:hover {
    color: grey;
}

.top-bar a:visited {
    color: white;
}

/* Search */
.search-bar {
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: 25vw;
    height: 4vh;
}

.search-submit-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
 
/* Sidebar */

.sidebar {
    color: white;
    transition: 0.15s ease-in-out;
    background-color: #2c4269;
    width: 275px;
    height: 100%;
    font-size: 25px;
    position: absolute;
    z-index: 5;
}

.sidebar-image {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.sidebar ul li {
  margin-bottom: 30px;
  list-style-type: none;
}

.sidebar ul li a{
  text-decoration: none;
}

.sidebar ul li a:active {
    color: white;
}

.sidebar ul li a:visited {
    color: white;
}

/* Logo */

.logo {
    height: relative;
    width: 4vh;
    height: 4vh;
}

.login-sign-up {
    display: flex;
    align-items: center;
}

.login-sign-up a {
    font-size: 3vh;
    top: 50%;
    margin-left: 5px;
    margin-right: 5px;
}

/* Create */

.create-post-div {
    box-sizing: border-box;
    display: flex;
    width: 50%;
}

.create-post-div .create-post-text{
    text-align: left;
}

/* Content */

.content {
    transition: 0.25s ease-in-out;
    justify-content: center;
    border-radius: 7.5px;
    color: white;
    padding: 40px;
    font-size: 20px;
    height: 100%;
    margin: 10px;
    overflow: hidden;
    margin-top: 10px;
    flex: 1;
    text-align: center;
  }

  .form-control {
    padding: 10px;
  }
  
  .form-control-label {
    text-align: right;
  }
  
  .alert-danger {
    display: inline-flex;
    padding: 20px;
    background-color: crimson;
    margin: 10px 10px;
    padding: 20px 20px;
    font-size: 20px;
    border-radius: 15px;
    font-family: "Source Code Pro", monospace;
    align-items: center;
    color: white;
    text-shadow: 2px 2px black;
  }
  
  .alert-success {
    display: block;
    padding: 20px 20px;
    margin: 10px 10px;
    background-color: #33cc33;
    font-size: 20px;
    border-radius: 15px;
    font-family: "Source Code Pro", monospace;
    align-items: center;
    color: white;
    text-shadow: 2px 2px black;
  }
  
  .profile-pic {
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 100%;
  }

  .profile-navbar {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 100%;
  }
  
  .profile-pic-post {
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    border-radius: 100%;
  }
  
  .profile-div {
    background-color: #2c4269;
    padding: 50px;
    width: 75%;
    border-radius: 15px;
  }
  
  .profile-text {
    color: white;
  }

  .chat {
    display: block;
    border-radius: 10px;
    height: 600px;
    background-color: #2c4269;
  }
  .chat-search {
    border-radius: 10px;
    height: auto;
    background-color: #2c4269;
  }
  
  .post-username {
    text-decoration: none;
    color: white;
  }
  .post-username:hover {
    color: grey;
  }

  /* Products */
  .products-item {
    font-size: 1.5vh;
    padding: 25px;
    display: inline-block;
    width: 300px;
    height: 500px;
    margin: 1.5vw 1.5vw;
    background-color: #22314f;
    border: 100px black;
    border-radius: 5px;
    overflow-wrap: break-word;
    overflow: hidden;
  }

  .products-item a {
    color: white;
    text-decoration: none;
  }

  .products-item a:active {
    color: white;
  }

  .products-item a:hover {
    color: grey;
  }

  .product-description {
    max-height: 80px;
    overflow-y: scroll;
  }
  
  .product-image {
    width: 200px;
    height: 200px;
  }
  
  /* Products View */

.product-view-item {
  display: flex;
}

  /* Posts */
  
  .post-main {
    padding: 25px;
  }
  
  .post-text {
    color: white;
    font-size: 25px;
    overflow: hidden;
  }
  
  .profile-pic-error {
    text-align: left;
    color: crimson;
  }
  
  .btn {
    border-width: 0px;
    border-radius: 20px;
    padding: 10px;
    font-family: "Podkova", serif;
    font-size: 20px;
    background-color: #22314f;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    color: grey;
  }
  
  .btn-2 {
    border-width: 0px;
    background-color: transparent;
  }
  
  .btn-3 {
    border-width: 0px;
    border-radius: 20px;
    padding: 10px;
    font-family: "Podkova", serif;
    font-size: 20px;
    background-color: #3b4d70;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
  }
  /* delete btn for products*/
  .btn-2-dl{
    border-width: 0px;
    background-color: #22314f;
  }
  .btn-danger {
    background-color: crimson;
  }
  
  .line-1 {
    border-color: black;
  }
  
  textarea {
    resize: none;
    color: black;
    background-color: #f4f4f4;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 50px;
  }

@media only screen and (max-width: 700px) {
    .sidebar {
        background-color: #2c4269;
        width: 100%;
        font-size: 25px;
        position: absolute;
        z-index: 5;
    }
    .login-sign-up a {
      font-size: 3vw;
      top: 50%;
      margin-left: 5px;
      margin-right: 5px;
  }
}

@keyframes fade-out{
    0%{
      opacity: 1.0
    }
    100%{
      opacity: 0.0
    }
  }