@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Podkova&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');

:root {
    /* colour palette variables, use these as examples for your css styles */
    /* will want to migrate existing styles to this palette as soon as possible */
    --objectYellow: #F2D03B;
    --objectGreen: #47D9BF;
    --objectBlue: #003056;
    --backgroundBlue: #04518C;
    --highlightBlue: #00A1D9;
    --textWhite: #FFFFFF;
    --warningRed: #C90009;
}

/* navbar */

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Podkova', serif;
}

body {
    background-color: #162135;
}
.container {
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar {
    width: 100%;
    max-height: 100px;
    display: flex;
    cursor: pointer;
    margin: 5px 0;
    align-items: center;
}

.logo {
    width: 50px;
    cursor: pointer;
    margin: 30px 0;
}

.logo-wrapped {
    align-items: center;
    display: flex;
}

.logo-text {
    color: white;
    font-size: 30px;
    text-decoration: none;
}

.nav-button {
    cursor: pointer;
    width: 30px;
    display: none;

}

.nav-button div {
    height: 4px;
    background-color: white;
    margin: 5px 0;
    border-radius: 25px;
}

nav {
    flex: 1;
    text-align: right;
}

.menubar ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

.menubar ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    align-items: center;
}

/* content */

.content {
    background-color: #2C4269;
    color: white;
    padding: 40px;
    font-size: 20px;
    margin: 20px 20px;
    border-radius: 15px;
    overflow: hidden;
    flex: 1;
}

.form-control {
    padding: 10px;
}

.form-control-label {
    text-align: right;
}

.alert-danger {
    padding: 20px;
    background-color: crimson;
    margin: 10px 10px;
    padding: 20px 20px;
    font-size: 20px;
    border-radius: 15px;
    font-family: 'Source Code Pro', monospace;
}

.alert-success {
    padding: 20px 20px;
    margin: 10px 10px;
    background-color: #66D622;
    font-size: 20px;
    border-radius: 15px;
    font-family: 'Source Code Pro', monospace;
}

.profile-pic {
    width: 150px;
    height: 150px;
    position:relative;
    overflow:hidden;
    border-radius: 100%;
}

.profile-navbar {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 100%;
}

.profile-pic-post {
    width: 50px;
    height: 50px;
    position:relative;
    overflow:hidden;
    border-radius: 100%;
}

.profile-div {
    padding: 50px;
    border-radius: 15px;
}

.profile-text {
    color: white;
}

.post {
    background-color: #22314F;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.post-main {
    padding: 25px;
    
}

.post-text {
    color: white;
}

.profile-pic-error {
    text-align: left;
    color: crimson;
}

.btn {
    border-width: 0px;
    border-radius: 20px;
    padding: 10px;
    font-family: 'Podkova', serif;
    font-size: 20px;
    background-color: #22314F;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.btn-2 {
    border-width: 0px;
    background-color: #22314F;
}

.line-1 {
    border-color: black;
}

textarea {
    resize: none;
    color: black;
    background-color: #F4F4F4;
    border: none;
    border-radius: 5px;
    width: 50%;
    height: 100px;
}

@media only screen and (max-width:700px) {

    .menubar ul {
        width: 100%;
        background: #22314F;
        padding: 8px 8px;
        position: absolute;
        top: 99px;
        right: 0;
        z-index: 2;
    }

    .menubar ul li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .menubar ul li a {
        color: white;
    }

    .nav-button {
        display: block;
    }

    #menu {
        overflow: hidden;
        transition: 0.5s;
    }

    .profile-text {
        font-size: 15px;
        text-align: left;
        text-size-adjust: auto;
    } 

    textarea {
        width: 100%;
    }

    .profile-pic {
        width: 50px;
        height: 50px;
    }
}
