@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Podkova&display=swap');

body {
    margin: 5;
    background-color: rgba(60,75,106,255);
    font-family: 'Podkova', serif;
    position: relative;
}

.bar {
    float: right;
    text-align: center;
    color: black;
    text-decoration: none;
    background-color: #8CA1CD;
    padding: 15px;
    border-radius: 15px;
    font-size: 22px;
}

.bar:hover {
    color:white;
}

.wrapper-2 {
    display: flex;
    padding: 0px;
}

.wrapper-1 {
    justify-content: space-between;
}

.content {
    background-color: #273044;
    text-align: left;
    color: white;
    width: 100%;
    padding: 40px;
    font-size: 20px;
    margin-left: 20px;
    border-radius: 15px;
}

.form-group {
    text-align: left;
}

.form-control {
    padding: 10px;
}

.form-control-label {
    text-align: right;
}

.top-bar {
    display: flex;
    width: 100%;
    float: top;
    background-color: #8CA1CD;
}

.top-bar-text {
    text-decoration: none;
    color: black;
    text-align: right;
    margin-top: 25px;
    margin-bottom: 15px;
    margin-right: 50px;
    margin-left: 50px;
    font-size: 22px;
}

.top-bar-text:hover {
    color: white;
}

.name {
    color: white;
    margin-left: 50px;
    text-align: left;
    justify-content: space-between;
}

.alert-success {
    padding: 20px;
    background-color: #66D622;
    font-size: 20px;
    border-radius: 15px;
    font-family: 'Source Code Pro', monospace;
}

.logo {
    size: 100px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    position:relative;
    overflow:hidden;
    border-radius: 100%;
}

.profile-pic-post {
    width: 50px;
    height: 50px;
    position:relative;
    overflow:hidden;
    border-radius: 100%;
}

.profile-fieldset {
    padding: 50px;
    border-color: black;
    border-radius: 15px;
    background-color: #8CA1CD;
}

.profile-text {
    color: black;
}

.post-fieldset {
    padding: 25px;
    border-color: black;
    background-color: #8CA1CD;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
}

.post-text {
    color: black;
}

.profile-pic-error {
    text-align: left;
    color: crimson;
}

.btn {
    border-width: 0px;
    border-radius: 20px;
    padding: 10px;
    font-family: 'Podkova', serif;
    font-size: 20px;
    background-color: #7383A6;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.btn-2 {
    border-width: 0px;
    background-color: #8CA1CD;
}

.line-1 {
    border-color: black;
}