{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}
<form method="POST" action="">
  {{ form.hidden_tag() }}
  <div class="form-group">
    <h1 style="color: #3498db">{{ legend }}</h1>
    <div class="form-group create-post-textarea">
      {{ form.content.label(class="form-control-label") }}
      <br />
      {% if form.content.errors %} {{ form.content(class="form-control
      is-invalid") }}
      <div class="invalid-feedback">
        {% for errors in form.content.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %} {{ form.content(class="form-control") }} {% endif %}
    </div>
  </div>
  <br />
  <div class="form-group">{{ form.submit(class="btn") }}</div>
  <br />
</form>
{% endblock %}