{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
    <h1 class="title" style="color: #3498DB">Home</h1>
    <h1>Welcome to MucQ Beta v0.1</h1>

        <p>   We are here to imagine, create, and expand for your benifits in the online trading system. Our sources are the most affordable and trusted and we have a refunding system for customers which are unhappy with our products or damaged products  </p>
        <h1 style="color: #3498DB">Join in the chat to see what's up!</h1>
        <button class="btn"><a href="{{ url_for('create_post') }}" style="text-decoration: none; color: white;" alink="black" vlink="black">Create Post</a></button>
        <br>
        <br>
        {% for post in posts %}
        <div class="post">
            <div class="post-main">
                <h2 class="post-text"><a href="{{ url_for('post', post_id=post.id) }}" style="text-decoration: none; color: white; text-shadow: 4px 4px #555555;" alink="white" vlink="white">{{ post.title }}</a></h2>
                <p class="post-text">{{ post.content }}</p>
                <img class="profile-pic-post" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}" align="left" style="margin-right: 20px;">
                <a style="text-decoration: none; color: white; text-shadow: 2px 2px #555555;"><small>{{ post.author.username }}    </small></a><small class="post-text">{{ post.date_posted.strftime('(Posted at %Y-%m-%d)') }}</small>
            </div>
        </div>
        {% endfor %}
        <h2 style="text-align: center; color: #7383A6;">You're all caught up!</h2>
{% endblock %}
