{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
    <h1 class="title" style="color: #3498DB">{{ post.title }} ({{ post.date_posted.strftime('Posted at %Y-%m-%d') }})</h1>
        <br>
        <br>
        <div class="post">
                {% if post.author == current_user %}
                <div>
                    <button class="btn"><a href="{{ url_for('update_post', post_id=post.id) }}" style="text-decoration: none; color: white;" alink="black" vlink="black">Update Post</a></button>
                    <button class="btn-2"><form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
                        <input class="btn btn-danger" type="submit" value="Delete">
                      </form></button>
                </div>
                {% endif %}
                <img class="profile-pic-post" src="{{ image_file }}" align="left" style="margin-right: 20px;">
                <a><h3>{{ post.author.username }}</h3></a><small class="post-text">{{ post.date_posted.strftime('(Posted at %Y-%m-%d)') }}</small>
                <h2 class="post-text">{{ post.title }}</h2>
                <p class="post-text">{{ post.content }}</p>
            <br>
        </div>
{% endblock %}