{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<h1> Support </h1> 
<!--FILL THE BLANK SPACES WITH OUR COMPANIES EMAIL PLEASE THANK YOU-->
<p>We value our customers problems and needs. IF you dont like one of our products or your product is damaged you can contact our staff email (tradeq.co.contact@gmail.com) to get the item or refunding money back to you. We want the best of our customers so please leave a review and if you want to file a complaint please use the staffs email and contact us so we can make the website a better place for trading.</p> 
<p>To trade an item with us what you have to do is contact the staff email which is (tradeq.co.contact@gmail.com) and we give a you a reasonable amount of money for the item you want to trade so it is going to be fair trade.
    As soon as your order is confirmed your will get an automated message with your order id and all the generic information. If there is a problem with your delivery and it is taking a while to get through to you dont worry just contact us and we will make sure to help you with the problem that accured
    .</p>

<h2>INVEST IN US!!!!</h2>
<p>if you donate/invest in our company we will make better and more invative webideas plus if you are lucky enough you might become one of our special memebers or guest and have a star infront of youyr profile to signify your contribution to our website
    contact us (tradeq.co.contact@gmail.com).</p>

<p> REMINDER FOR DIHAN </p>
<ul>
    <li>ADD LOTS OF CSS TO MAKE THIS PAGE CLEAN AND TIDY.</li>
    <li> ADD EVEN MORE DISCRIPTION ENCORAGE PEOPLE INTO WATING TO JOIN</li>
    <li>FINISH UP HTML</li>
    <li> AFTER COMPLETING BETA AND TRADING SYSTEM ADVertise</li>
