{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
    <h1>Welcome to TradeQ Beta v0.1</h1>

        <p>We are here to imagine. create. and expand for your benifitis in the online trading system. Our sources are the most affordable and trusted and we have a refunding system for customers which are unhappy with our products or dameged products  </p>
    <h2>Contact Us</h2> 
    <p>We value our customers problems and needs. IF you dont like one of our products or your product is damaged you can contact our staff email           to get the item or refunding money back to you. We want the best of our customers so please leave a review and if you want to file a complaint please use the staffs email and contact us so we can make the website a better place for trading.</p> 
    <h3>How to Trade An item with us</h3>
    <p>To trade an item with us what you have to do is contact the staff email which is         and we give a you a reasonable amount of money for the item you want to trade so it is going to be fair trade.
         As soon as your order is confirmed your will get an automated message with your order id and all the generic information. If there is a problem with your delivery and it is taking a while to get through to you dont worry just contact us and we will make sure to help you with the problem that accured
         .</p>
{% endblock %} -if you want to invest in us you can contact hdvyjdvdghhgdvgkdcvdb and we will negotiate terms about giving some percentage of the company
- if you would like to get a job at TradeQ you can contact us via discord or email our staff are friendly and cooporative and in the first day  you will work as a trial and we still give money and decide if you are going to get accept or you could simply chose not to work with us.
